/*-----------Fonts------------*/

$mainFont: "Roboto", sans-serif;
$secondaryFont: "Inter", sans-serif;

/*-----------FontWeights------------*/

$fw-700: 700;
$fw-600: 600;
$fw-400: 400;

/*-----------FontSizes------------*/

$fs-10: 10px;
$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;
$fs-36: 36px;

/*-----------LineHeights------------*/

$lh-16: 16px;
$lh-18: 18px;
$lh-24: 24px;
$lh-28: 28px;
$lh-36: 36px;