@use "./../../shared/styles/mixins" as m;
@use "./../../shared/styles/variables" as v;

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;

  &__text {
    @include m.setFont(v.$mainFont, v.$fs-16, v.$fw-600);
  }
}

.answerWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.textArea {
  @include m.setFont(v.$mainFont, v.$fs-16, v.$fw-400);
  width: 100%;
  max-width: 800px;
  min-height: 200px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
}

.textInput {
  @include m.setFont(v.$mainFont, v.$fs-16, v.$fw-400);
  width: 100%;
  max-width: 600px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
}